@import "tailwindcss";

/* カスタムカラー */
@theme {
  --color-bg-primary: #0C0C50; /* ブランドカラー */
  --color-bg-primary-active: #1B1A71;
  --color-bg-primary-hover: #141361;
  --color-bg-secondary: #030435;
  --color-text-primary: #FFFFFF;
  --color-text-muted: #9CA3AF;
  --color-text-active: #0A8FE4;
}

/* ライト・ダークモードの切り替えが不要なため，デフォルトの記述はコメントアウトする． */
/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/
