# macOS
.DS_Store

# VSCode
satellite-spotter.code-workspace
.vscode

# Python
.venv/
*.pyc
**/__pycache__/
## osmnx
cache/

# ドキュメント
wireframe/assets/
wireframe/wireframe.pptx
idea_selection/ブレインストーミング.xlsx
idea_selection/impact_feasibility.csv
